.imageMargin {
	margin-bottom: 2px;
}

.colSilverDiv {
	margin-bottom: 2px;
	min-height: 200px;
	background-color: silver;
	text-align: center;
	font-size: large;
}

.colSkyBlueDiv {
	margin: 2px;
	min-height: 200px;
	background-color: skyblue ;
	text-align: center;
	font-size: large;
}

.colGreyDiv {
	margin-bottom: 2px;
	min-height: 150px;
	background-color: grey;
	text-align: center;
	font-size: large;
}

.menuContent {
	margin-bottom: 5px;
	min-height: 75px;
	background-color: silver;
	text-align: center;
	font-size: large;
}

.mainContent {
	margin-bottom: 10px;
	min-height: 315px;
	background-color: silver;
	text-align: center;
	font-size: large;
}

.sampleListContainer {
	margin-bottom: 2px;
	background-color: silver;
	font-size: large;
}
hr {
	border: 1px solid green;
}